* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* INIZIO DIVLOG */

.log {
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 25px;
}

.logsx {
  float: left;
  padding-left: 80px;
}

.logsx a {
  padding: 31px 30px;
  color: #33475b;
  text-decoration: none;
  display: inline-block;
}

#bordare {
  border-right: 2px solid #cbd6e2;
}

.logdx {
  float: right;
  margin-top: 30px;
  margin-right: 85px;
}

#cip {
  color: #ff7a59;
  background-color: white;
  border: 1px solid #ff7a59;
  padding: 12px 22px;
  margin-right: 10px;
  margin-left: 15px;
}

#ciop {
  color: white;
  background-color: #ff7a59;
  padding: 12px 12px;
}

/* FINE DIVLOG */

/* INIZIO NAVBAR */

.navbar {
  height: 90px;
  margin-top: 80px;
}

.navbar ul {
  float: right;
}

.navbar li {
  display: inline-block;
}

.logdx {
  float: right;
}

.loghino {
  padding: 25px 80px;
}

.lnavbar ul{
  margin-top: -80px;
}

.lnavbar li {
  color: #33475b;
  padding: 30px;
  font-weight: bolder;
  font-size: 20px;
}

/* FINE NAVBAR */

/* INIZIO JUMBODJANGO */

.jumbodjango {
  background-image: url(../img/jumbotron.png);
  height: 693.5px;
}

.jumbotesto {
  padding: 30px 100px;
  height: 300px;
  width: 570px;
  /* background-color: yellow; */
}

.jumbotesto {
  color: #33475b;
}

.jumbotesto h1 {
  font-size: 3.5em;
  margin-bottom: 30px;
}

.jumbotesto h4 {
  line-height: 30px;
  margin-bottom: 35px;
  font-weight: lighter;
}

.jumbotesto a {
  color: white;
  background-color: #ff7a59;
  padding: 25px 35px;
  text-decoration: none;
}

.jumbotesto p {
  margin-top: 40px;
}
/* FINE JUMBODJANGO */
/* FINE HEADER */

/* INIZIO MAIN */

/* INIZIO DIVGROSSO */

.grosso {
  height: 1290px;
  background-color: #f5f8fa;
}

.cubo {
  width: 650px;
  height: 350px;
  margin: auto;
  color: #33475b;
}

.cubo img {
  padding-top: 50px;
  width: 65%;
  padding-left: 38%;
}

.cubo h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.cubo h4 {
  text-indent: 15px;
  line-height: 30px;
  font-weight: lighter;
}

.steso {
  width: 770px;
  height: 200px;
  background-color: yellow;
}

.stendardo {
  width: 180px;
  height: 420px;
  background-color: orange;
  float: left;
  border: black 1px solid;
}

/* FINE DIVGROSSO */

/* INZIO QUADRO */

.quadro {
  height: 700px;
  background-color: cyan;
}

.intquadro {
  height: 80px;
  width: 800px;
  background-color: pink;
}

.parquadro {
  height: 55px;
  width: 850px;
  background-color: lime;
}

.robequadro {
  height: 300px;
  width: 800px;
  background: red;
}

/* FINE QUADRO */

/* INZIO DIVPICCOLO */

.piccolo {
  height: 750px;
}

.clienti {
  background-color: pink;
  height: 200px;
  width: 200px;
}

.marche {
  background-color: green;
  width: 400px;
  height: 100px;
}

.marketing {
  width: 350px;
  height: 350px;
  background-color: cyan;
}

.facciona {
  width: 250px;
  height: 250px;
  background-color: brown;
}

/* FINE DIVPICCOLO */

/* INIZIO FOOTER */

footer {
  height: 480px;
  background-color: #33475b;
  clear: both;
}

.prefooter {
  background-color: orange;
}

.avengers {
  width: 230px;
  height: 300px;
  background-color: cyan;
  float: left;
  border: 1px black solid;
}

.credits {
  clear: both;
}

. {
}

/* FINE FOOTER */
