* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border-radius: .1875rem;
  font-weight: bold;
}

/* INIZIO DIVLOG */

.log {
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 25px;
}

.logsx {
  float: left;
  padding-left: 80px;
}

.logsx a {
  padding: 31px 30px;
  color: #33475b;
  display: inline-block;
}

#bordare {
  border-right: 2px solid #cbd6e2;
}

.logdx {
  float: right;
  margin-top: 30px;
  margin-right: 85px;
}

#cip {
  color: #ff7a59;
  background-color: white;
  border: 1px solid #ff7a59;
  padding: 12px 22px;
  margin-right: 10px;
  margin-left: 15px;
}

#ciop {
  color: white;
  background-color: #ff7a59;
  padding: 12px 12px;
}

/* FINE DIVLOG */

/* INIZIO NAVBAR */

.navbar {
  height: 90px;
  margin-top: 80px;
}

.navbar ul {
  float: right;
}

.navbar li {
  display: inline-block;
}

.logdx {
  float: right;
}

.loghino {
  padding: 25px 80px;
}

.lnavbar ul{
  margin-top: -80px;
}

.lnavbar li {
  color: #33475b;
  padding: 30px;
  font-weight: bolder;
  font-size: 20px;
}

/* FINE NAVBAR */

/* INIZIO JUMBODJANGO */

.jumbodjango {
  background-image: url(../img/jumbotron.png);
  height: 693.5px;
}

.jumbotesto {
  padding: 30px 100px;
  height: 300px;
  width: 570px;
  /* background-color: yellow; */
}

.jumbotesto {
  color: #33475b;
}

.jumbotesto h1 {
  font-size: 3.5em;
  margin-bottom: 30px;
}

.jumbotesto h4 {
  line-height: 30px;
  margin-bottom: 35px;
  font-weight: lighter;
}

.jumbotesto a {
  color: white;
  background-color: #ff7a59;
  padding: 25px 35px;
}

.jumbotesto p {
  margin-top: 40px;
}
/* FINE JUMBODJANGO */
/* FINE HEADER */

/* INIZIO MAIN */

/* INIZIO DIVGROSSO */

.grosso {
  height: 1500px;
  background-color: #f5f8fa;
}

.cubo {
  width: 650px;
  height: 350px;
  margin: auto;
  color: #33475b;
}

/* INIZIO CUBO */

.cubo img {
  padding-top: 50px;
  width: 65%;
  padding-left: 38%;
}

.cubo h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.cubo h4 {
  text-indent: 15px;
  line-height: 30px;
  font-weight: lighter;
}

/* FINE CUBO */

/* INIZIO DIV MOSCHETTIERI */

/* INIZIO DIV STESO */

.moschettieri {
  margin: auto;
}

.moschettieri ul {
 list-style-image: url(../img/listino.png);
}

.steso {
  width: 1100px;
  height: 300px;
  background-color: white;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
}

.imglibro {
  float: left;
}

.imglibro img {
  height: 190px;
  padding: 20px 80px;
  display: block;
  margin-bottom: 40px;
}

.imglibro a {
  padding: 12px 30px;
  background-color: #ff7a59;
  color: white;
  margin-left: 100px;
}

.scrittelibro {
  width: 200px;
  margin-bottom: 90px;
  color: #33475b;
  width: 700px;
  float: right;
  margin-top: 50px;
}

.scrittelibro h4 {
  font-size: 25px;
  margin-bottom: 15px;
}

.scrittelibro p {
  margin-bottom: 35px;
}

.scrittelibro hr {
position: relative;
top: -45px;
left: 180px;
width: 480px;
}

.scrittelibro li {
  margin-bottom: 35px;
  display: inline-block;
  margin-right: 15px;
  list-style-image: none;
  list-style-type: none;
}

/* FINE DIV STESO */

/* INIZIO STENDARDI */

.stendardi {
  width: 1200px;
  clear: both;
  margin: auto;
}

.stendardo {
  width: 333px;
  height: 600px;
  color: #33475b;
  background-color: white;
  float: left;
  margin-right: 50px;
}

.stendardo img {
  height: 200px;
  padding: 30px 70px;
}
#tavolo {
  margin-left: 30px;
}

.stendardo h4 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
}

.stendardo p {
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
  width: 250px;
  margin: auto;
}

.stendardo hr {
  width: 280px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.stendardo ul {
  margin-top: 20px;
  padding-left: 50px;
}

.stendardo li {
  margin-bottom: 15px;
}
 .stendardo a {
  padding: 15px 25px;
  background-color: #ff7a59;
  color: white;
 }

.bottonestendardo {
  text-align: center;
  margin-top: 45px;
}
/* FINE STENDARDI  */

/* FINE DIV MOSCHETTIERI */

/* FINE DIVGROSSO */

/* INZIO QUADRO */

.quadro {
  background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
  margin: auto;
  color: white;
  padding-left: 100px;
}

.quadro p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 33px;
}

.intquadro {
  margin: auto;
  font-size: 20px;
  width: 620px;
  text-align: center;
  font-weight: bolder;
  padding-top: 110px;
  margin-bottom: 20px;
}

.parquadro {
  height: 55px;
  width: 850px;
  margin: auto;
}

.quadrivari {
  height: 600px;
  width: 1200px;
  margin: auto;
  margin-top: 60px;
}

.quadrino {
  height: 190px;
  width: 270px;
}

.quadrino img {
  display: block;
  margin: auto;
}

.giga {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

.mini {
  font-size: 20px;
  text-align: center;
}

#primo {
  border-bottom: 1px white solid;
  border-right: 1px white solid;
  display: inline-block;
}

#secondo {
  margin-top: 40px;
  border-bottom: 1px white solid;
  border-right: 1px white solid;
  display: inline-block;
}

#terzo {
  border-bottom: 1px white solid;
  border-right: 1px white solid;
  display: inline-block;
}

#quarto {
  display: inline-block;
}

#quinto {
  padding-top: 40px;
  border-right: 1px white solid;
  display: inline-block;
}

#sesto {
  padding-top: 20px;
  border-right: 1px white solid;
  display: inline-block;
}

#settimo {
  padding-top: 40px;
  border-right: 1px white solid;
  display: inline-block;
}

#ottavo{
  padding-top: 50px;
  border-top: 1px white solid;
  display: inline-block;
}

/* FINE QUADRO */

/* INZIO DIVPICCOLO */

.piccolo1 {
  padding-top: 80px;
  color: #33475b;
  margin:auto;
  width: 800px;
}

.nc {
  float: left;
}

.numerone {
  font-size: 26px;
  margin-bottom: 5px;
}

.customers {
  font-size: 18px;
  line-height: 20px;
  width: 260px
}

.marche {
  float: right;
}

.piccolo2 {
  padding-top: 100px;
  clear: both;
  color: #33475b;
  width: 750px;
  margin: auto;
}

.piccolo2 h2 {
  font-size: 25px;
  width: 350px;
  margin-bottom: 20px;
}

.piccolo2 p {
  font-size: 16px;
  width: 300px;
  margin-bottom: 35px;
}

.piccolo2 a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #ff7a59;
  padding: 10px 15px;
}

.piccolo2 h4 {
  margin-top: 20px;
  font-size: 10px;
  width: 300px;
  font-weight: lighter;
}

.piccolo2testi {
  float: left;
}

.piccolo2img img{
  height: 300px;
  float: right;
  margin-bottom: 100px;
}

/* FINE DIVPICCOLO */

/* INIZIO FOOTER */

footer {
  height: 620px;
  background-color: #33475b;
  clear: both;
  color: #cbd6e2;
}

footer a {
  text-decoration: none;
  color: #cbd6e2;
  font-weight: bold;
}

footer hr {
  width: 1000px;
  margin: auto;
  margin-bottom: 40px;
}

.prefooter {
  padding: 50px 210px;
}

.avengers {
  width: 230px;
  height: 300px;
  float: left;
}

.avengers h3 {
  color: white;
  font-size: 16px;
}

.avengers ul {
  margin-top: 20px;
  list-style-type: none;
}

.avengers li:not(#chs) {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
}

#chs {
  margin-bottom: 40px;
  color: white;
}

.avengers a {
  background-color: white;
  padding: 12px 10px;
  color: #33475b;
}

.linguepag {
  clear: both;
}

#icone li{
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
}

.linguepag {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.linguepag li {
  font-weight: bolder;
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
}

.logohub2 {
  margin: auto;
  width: 1000px
}

.credits {
  margin: auto;
}

.privacy ul {
  list-style-type: none;
  padding-right: 180px;
}

.privacy li {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  float: right;
}

/* FINE FOOTER */
